.chatContainer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  .chatBox {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: 120px;
    width: 90%;
  }
  .boxText{
    width: 100%;

  }
  .boxMytext{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
  }
  .chatMessage {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 10px;
    padding: 6px;
    padding-right: 20px;
    padding-left: 20px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0.5px solid rgb(122, 122, 122);
    width: auto;
  }
  .chatMyMessage {
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    margin: 10px;
    padding: 6px;
    padding-right: 20px;
    padding-left: 20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 0.5px solid rgb(122, 122, 122);
    margin-left: 30px;
    width: auto;
  }
  
  .chatInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    padding: 10px;
    border-top: 1px solid #ddd;
  }

  .chatInput input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
  }

  .sendButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }

  .sendButton:hover {
    background-color: #0069d9;
  }
  .emojiButton{
    background-color: #ffffff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  
.messageMyDate{
  font-size: 12px;
  text-align: left;
  margin: 0;

}

.messageDate{
  font-size: 12px;
  text-align: right;
  margin: 0;
}

.deleteButton{
  background-color: #c41e1e;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 23px;
  cursor: pointer;
  margin-right: 15px;
  width: 40px;
  height: 37px;
}

.picker{
  position: absolute;
  margin-bottom: 400px;
  margin-left: 60%;
}

@media (max-width: 1150px) {
  .picker{
    position: fixed;
    margin-bottom: 400px;
    margin-left: 50%;
  }
}
@media (max-width: 1060px) {
  .picker{
    position: fixed;
    margin-bottom: 400px;
    margin-left: 40%;
  }
}
@media (max-width: 890px) {
  .picker{
    position: fixed;
    margin-bottom: 400px;
    margin-left: 0%;
  }
}
.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loadingDot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #0078d7;
  border-radius: 50%;
  animation: loading-animation 1.5s ease-in-out infinite;
}
@keyframes loadingAnimation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.loadingMessage {
  margin-top: 10px;
  color: #0078d7;
  font-weight: bold;
}